<div class="columns">
  <div class="column has-text-left">
    <label for="" class="label">Anzahl</label>
    <input
      type="number"
      [class.is-danger]="shareCountInput.errors"
      class="input"
      required
      min="1"
      [(ngModel)]="shareCount"
      #shareCountInput="ngModel"
    />
  </div>
  <div class="column has-text-left">
    <label for="" class="label">Preis / Stück</label>
    <input
      type="number"
      required
      min="0.01"
      [class.is-danger]="pricePerShareInput.errors"
      class="input"
      [(ngModel)]="pricePerShare"
      #pricePerShareInput="ngModel"
    />
  </div>
</div>
<div class="columns">
  <div class="column is-4 has-text-left">
    <label for="" class="label">Aktienwert</label>
    <h1>{{sharePrice|currency:'EUR'}}</h1>
  </div>
  <div class="column is-4 has-text-left">
    <label for="" class="label">Gebühren</label>
    <h1>{{fee|currency:'EUR'}}</h1>
  </div>
  <div class="column is-4 has-text-left">
    <label for="" class="label">Gesamtpreis</label>
    <h1 class="has-text-info">{{totalPrice|currency:'EUR'}}</h1>
  </div>
</div>
